.title-bar {
  height: 50px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.title {
  padding-top: 5px;
  color: white;
  font-size: 2em;
  text-align: center;
}

.highlight {
  background-color: rgb(132, 151, 255);
}

.highlight-alt {
  background-color: rgb(52, 66, 255);
  cursor: pointer;
}

.annotation:hover {
  cursor: pointer;
}

.content-text {
  line-height: 1.2;
  font-size: 1.2em;
}
