.title-bar {
  height: 50px;
  background-color: black;
}

.title {
  padding-top: 5px;
  color: white;
  font-size: 2em;
  margin-left: 20px;
}

.highlight {
  background-color: greenyellow;
}

.highlight:hover {
  background-color: green;
  cursor: pointer;
}

.content-text {
  font-size: 1.2em;
}
